#loader {
    position: fixed;
    inset: 0;
    background-color: rgb(242, 241, 235, 0.95);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    color: #273462;
    opacity: 1;
    transition: opacity 10s ease;
}

#loader.ocultar {
    opacity: 0;
    pointer-events: none;
}

#loader-img{
    width: 31.73rem;
}

.objeto {
    transform: translateY(0rem);
    transition: transform 10s ease;
    z-index: -1;
}

.objeto.ativo {
    transform: translateY(-20rem);
}

.comunicacao{
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1.2rem 0rem;
}

.casal{
    font-size: 2.7rem;
}

#conteudo {
    opacity: 0;
    transform: translateY(30rem);
    transition:
        opacity 8s ease,
        transform 10s ease;
}

#conteudo.mostrar {
    opacity: 1;
    transform: translateY(0);
}